*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shelf{
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 10px;

}
.card{
    width:24vmax;
    height: 35vmax;
    padding: 8px 10px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    color: rgb(4, 4, 4);
    font-family: monospace;
    border-radius: 15px;
}
.card img{
    border-radius: 10px;
    margin: auto;
}
.card p{
    font-size: 16px;
    display: block;
    padding: 10px 10px;
    font-weight: 600;
}